@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --font-family: "Inter", sans-serif;
}

* {
    margin : 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

.main-page {
    font-family     : var(--font-family);
    background-color: #fff;
}

.menu_a {

    font-weight    : 400;
    font-size      : 16px;
    line-height    : 140%;
    color          : #1e1e1e;
    text-decoration: none;

}

.menu-btn-link {
    /* padding        : 14px 63px; */
    border-right   : 1px solid rgba(0, 0, 0, 0.2);
    width          : 200px;
    height         : 50px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.logo {
    background     : #82c446;
    width          : 300px;
    height         : 50px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

/* .logo img {
    width : 100%;
    height: 100%;
} */

.menu-links {
    display: flex;
}

.size_btn_language {
    border-right   : 1px solid rgba(0, 0, 0, 0.2);
    width          : 100px;
    height         : 50px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.menu-page {
    display: flex;
}

.header {
    display           : flex;
    /* justify-content: center; */
    max-width         : 1400px;
    margin            : 0 auto;
    /* width          : 100%; */
}

.header-container {
    width: 100%;
}

.menu-btn {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-left    : 47px;
    margin-right   : 47px;
    transition     : margin-left 0.5s ease;

}

.home-backround img {
    position: relative;
    width   : 100%;
}

.home-backround {
    position       : relative;
    display        : flex;
    justify-content: center;
}

.home-content {
    position : relative;
    max-width: 1400px;
    margin   : 0 auto;
}

.home-description p {
    font-weight: 600;
    font-size  : 48px;
    line-height: 100%;
    color      : #fff;
    max-width  : 675px;
    margin-top : 30px;
    margin-left: 490px;
    transition : margin-left 0.5s ease, margin-top 0.5s ease, font-size 0.5s ease;
}

.home-description {
    position: absolute;
}

.home-content-flex {
    position       : relative;
    display        : flex;
    justify-content: baseline;
}

.info-section {
    font-weight: 500;
    font-size  : 14px;
    line-height: 140%;
    color      : #1c1c1e;
}

.description-page h1 {
    font-weight: 600;
    font-size  : 24px;
    line-height: 120%;
    color      : #1c1c1e;
    max-width  : 340px;
}

.description-page p {
    font-weight: 400;
    font-size  : 16px;
    line-height: 120%;
    color      : #48484a;
    max-width  : 260px;
}

.description-box {
    max-width      : 787px;
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 40px;
}

.name-product-box h3 {
    font-weight   : 500;
    font-size     : 18px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color         : #1c1c1e;
}

.name-product-box {
    display        : flex;
    justify-content: space-between;
    margin-top     : 10px;
    margin-bottom  : 5px;
}

.popular-product-box p {
    font-weight   : 400;
    font-size     : 16px;
    line-height   : 120%;
    letter-spacing: -0.02em;
    color         : #48484a;
    max-width     : 326px;
}

.popular-product-box {
    max-width: 427px;
}


.popular-products-boxes {
    display        : flex;
    gap            : 20px;
    justify-content: center;
}

.position {
    max-width : 1400px;
    margin    : 0 auto;
    padding   : 120px 40px 0 40px;
    transition: padding 0.5s ease;
}

.news-box-box-box .posted-date {
    font-weight   : 400;
    font-size     : 14px;
    line-height   : 140%;
    text-transform: uppercase;
    color         : #1c1c1e;
}

.news-box-box-box h2 {
    font-weight   : 600;
    font-size     : 24px;
    line-height   : 120%;
    text-transform: uppercase;
    color         : #1c1c1e;
    margin-bottom : 20px;
    margin-top    : 30px;
    transition    : font-size 0.5s ease;
}

.news-box-box-box p {
    font-weight  : 400;
    font-size    : 16px;
    line-height  : 120%;
    color        : #48484a;
    margin-bottom: 72px;
    transition   : font-size 0.5s ease;
}

.news-box-box-box a {
    text-decoration: none;
    font-weight    : 400;
    font-size      : 14px;
    line-height    : 140%;
    text-transform : uppercase;
    color          : #1c1c1e;
}

.news-box-box-box {
    max-width : 500px;
    transition: max-width 0.5s ease;
}

.btn-gotostory {
    width          : 110px;
    height         : 30px;
    display        : inline-flex;
    justify-content: space-between;
    align-items    : center;
}

.btn-gotostory a {
    text-decoration: none;
    font-weight    : 500;
    font-size      : 14px;
    line-height    : 90%;
    color          : #000;
}

.news-box-box {
    display               : inline-flex;
    justify-content       : space-between;
    /* max-width          : 873px; */
    width                 : 100%;
}

.news-box {
    display      : flex;
    gap          : 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-top   : 1px solid rgba(0, 0, 0, 0.2);
    max-width    : 1320px;
    height       : 357px;
    padding      : 30px 0 30px 0;
}

.news-box .img-fluid {
    height    : auto;
    transition: height 0.5s ease;
}

.no-border-top {
    border-top: none;
}

.news-margin-p_freim3 p {
    margin-bottom: 53px;
    transition   : margin-bottom 0.5s ease;
}

.news-margin-p_freim2 p {
    margin-bottom: 33px;
    transition   : margin-bottom 0.5s ease;
}

.btn-readmore {
    border          : 0px solid rgba(0, 0, 0, 0.2);
    padding         : 10px;
    width           : 100%;
    height          : 50px;
    text-transform  : uppercase;
    font-weight     : 500;
    font-size       : 16px;
    color           : #fff;
    background-color: #82c446;
    margin-top      : 10px;
    border-radius   : 5px;
}

.accordion {
    background-color: #fff;
    color           : #444;
    cursor          : pointer;
    padding         : 20px 0;
    width           : 100%;
    border          : none;
    outline         : none;
    transition      : 0.4s ease;
    display         : inline-flex;
    align-items     : center;
    justify-content : space-between;
    border-top      : 1px dashed rgba(72, 72, 74, 0.2);
    line-height     : normal;
}

.accordion__number {
    font-weight   : 400;
    font-size     : 16px;
    line-height   : 140%;
    text-transform: uppercase;
    color         : #000;
}

.accordion__text {
    font-family   : var(--font-family);
    font-weight   : 400;
    font-size     : 16px;
    line-height   : 140%;
    text-transform: uppercase;
    color         : #1c1c1e;
}

/* .active, .accordion:hover {
    background-color: #ccc;
} */

.panel {
    padding         : 0 18px;
    background-color: white;
    max-height      : 0;
    overflow        : hidden;
    transition      : max-height 0.3s ease;
    display         : flex;
    justify-content : flex-end;
}

.accordion:after {
    content    : "\002B";
    font-size  : 20px;
    color      : #777;
    float      : right;
    margin-left: 5px;
}

.active:after {
    content  : "\2212";
    font-size: 20px;
}


.accordion__text-container {
    display   : inline-flex;
    gap       : 436px;
    transition: gap 0.5s ease, justify-content 0.5s ease;
}

.panel__position {
    display        : inline-flex;
    flex-wrap      : wrap;
    gap            : 30px;
    /* max-width   : 797px; */
    margin-right   : 50px;
    /* max-height  : fit-content; */
    height         : auto;
}


.panel p {
    max-width  : 416px;
    font-weight: 400;
    font-size  : 16px;
    line-height: 120%;
    color      : #6c6c70;
}

/* .panel img {
    height: 100%;
} */

.description-page a {
    text-transform             : uppercase;
    font-weight                : 400;
    font-size                  : 16px;
    line-height                : 140%;
    /* text-decoration-skip-ink: none; */
    color                      : #000;
    padding-top                : 0.25rem;
    padding-bottom             : 1rem;
}

.investing-box .info-box1 {
    font-weight: 400;
    font-size  : 24px;
    line-height: 140%;
    color      : rgba(72, 72, 74, 0.6);
}

.investing-box .title {
    font-weight: 400;
    font-size  : 32px;
    line-height: 140%;
    color      : #1c1c1e;
}

.investing-box {
    width          : 440px;
    height         : 298px;
    border         : 1px solid rgba(72, 72, 74, 0.2);
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
}

.investing-boxes {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    align-items    : center;
}

.info-box2 .digit {
    font-weight: 400;
    font-size  : 24px;
    line-height: 140%;
    color      : #ff453a;
}

.info-box2 {
    display    : flex;
    align-items: center;
}

.info-box3 {
    display    : flex;
    align-items: center;
}

.info-box2 svg {
    fill: #ff453a;
}

.info-box3 .digit {
    font-weight: 400;
    font-size  : 24px;
    line-height: 140%;
    color      : #32d74b;
}

.info-box3 svg {
    fill: #32d74b;
}

.carousel-collage {
    width       : 100%;
    /* max-width: 1400px; */
}

.slider-collage {
    display                      : flex;
    gap                          : 30px;
    overflow-x                   : hidden;
    overflow-y                   : hidden;
    scroll-snap-type             : x mandatory;
    /* -webkit-overflow-scrolling: touch; */
    height                       : 625px;
}

.slide-collage {
    width              : 427px;
    height             : 310px;
    transition         : width 0.3s ease, height 0.3s ease;
    /*scroll-snap-align: start;*/
    flex               : 0 0 auto;
}

.slide-collage-box {
    /*width : 427px;
    height: 418px;*/
    width : 100%;
    height: 100%;
}

.active-slider {
    width : 873px;
    height: 540px;
}

.slide-collage img {
    height: 100%;
    width : 100%;
}

.slick-prev {
    background-color: #fff;
    border          : 1px solid rgba(72, 72, 74, 0.2);
    width           : 60px;
    height          : 60px;
}

.slick-prev img {
    transform: scaleX(-1);
}

.slick-next {
    background-color: #fff;
    border          : 1px solid rgba(72, 72, 74, 0.2);
    width           : 60px;
    height          : 60px;
}

.buttons-carousel {
    display: inline-flex;
}

.description-slider {
    display        : flex;
    justify-content: space-between;
    max-width      : 1400px;
}

.description-box-slider {
    width          : 787px;
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 40px;
}

.slide-text-box .text1 {
    font-weight   : 500;
    font-size     : 18px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color         : #1c1c1e;
}

.slide-text-box .text2 {
    font-weight   : 400;
    font-size     : 16px;
    letter-spacing: -0.02em;
    color         : #1c1c1e;
}

.slide-text-box .text3 {
    font-weight   : 400;
    font-size     : 16px;
    letter-spacing: -0.02em;
    color         : #48484a;
}

.slide-text-box {
    padding-top: 10px;
}

.link-top a {
    font-weight     : 500;
    font-size       : 16px;
    color           : #fff;
    text-decoration : none;
    border-bottom   : 1px solid rgba(0, 0, 0, 0.1);
    border-top      : 1px solid rgba(0, 0, 0, 0.1);
    background-color: #82c446;
    padding         : 10px 0px;
    border-radius   : 5px;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

.link-top {
    width: 100%;

}

.footer-list-info ul,
.footer-list-info ol {
    padding-left: 0;
}

.footer-list-info h2 {
    font-weight  : 400;
    font-size    : 18px;
    color        : #1e1e1e;
    margin-bottom: 0;
}

.footer-list-info li {
    font-weight: 400;
    font-size  : 14px;
    color      : rgba(30, 30, 30, 0.8);
    padding-top: 10px;
}

.footer-lists {
    display        : flex;
    gap            : 170px;
    justify-content: center;
    flex-wrap      : wrap;
}

.footer {
    display        : flex;
    justify-content: center;
    height         : 260px;
    align-items    : center;
    background     : #f5f5f7;
    width          : 100%;
    height         : auto;
    padding        : 50px
}

.mini-footer-list ul,
.mini-footer-list ol {
    padding-left : 0;
    margin-bottom: 0;
}

.mini-footer-list ul li {
    display: inline-block;
}

.mini-footer-list li {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    padding    : 10px;
    font-weight: 400;
    font-size  : 14px;
    line-height: 140%;
    color      : rgba(30, 30, 30, 0.8);
}

.mini-footer-info .text1 {
    padding    : 10px;
    font-weight: 400;
    font-size  : 14px;
    line-height: 140%;
    color      : #1e1e1e;
}

.mini-footer-info {
    display    : inline-flex;
    align-items: center;
}

.mini-footer {
    display        : flex;
    justify-content: center;
    gap            : 325px;
}

.mini-footer-container {
    width     : 100%;
    background: #f0f0f0;
}

.languige-box a {
    font-weight             : 400;
    font-size               : 14px;
    line-height             : 140%;
    text-decoration-skip-ink: none;
    color                   : #0071e3;
    margin-left             : 10px;
}

.languige-box svg {
    /* stroke-width: 2px; */
    stroke: rgba(0, 0, 0, 0.4);
}

.languige-box {
    display    : inline-flex;
    align-items: center;
}

.mobile-footer {
    display: none;
}

@media screen and (max-width: 1110px) {
    .home-description p {
        font-size  : 36px;
        margin-left: 300px;
    }

    .menu-btn-link:first-child,
    .menu-btn-link:nth-child(3) {
        display: none;
    }

    .position {
        padding: 100px 20px 0 20px;
    }

    .popular-product-box {
        max-width: 354px;
        overflow : hidden;
    }

    .news-box-box-box p {
        font-size: 14px;
    }

    .news-box-box-box {
        max-width: 353px;
    }

    .news-box-box-box.news-margin-p_freim2 p {
        margin-bottom: 32px;
    }

    .news-box-box-box.news-margin-p_freim3 p {
        margin-bottom: 20px;
    }

    .news-box-box-box p {
        margin-bottom: 35px;
    }

}

@media screen and (max-width: 869px) {
    .home-description p {
        font-size  : 36px;
        margin-left: 219px;
    }

    .menu-btn-link:first-child,
    .menu-btn-link:nth-child(3),
    .menu-btn-link:nth-child(4) {
        display: none;
    }

    .popular-products-boxes .popular-product-box:last-child {
        display: none;
    }

    .btn-gotostory {
        display: none;
    }
    .popular-products-boxes {
        display: flex;
        flex-wrap: wrap;
    }

    .popular-product-box p {
        max-width: 282px;
    }
    .news-box-box-box p {
        font-size: 14px;
    }

    .news-box-box-box h2 {
        font-size: 18px;
    }

    .news-box-box-box.news-margin-p_freim2 p {
        margin-bottom: 40px;
    }

    .news-box-box-box.news-margin-p_freim3 p {
        margin-bottom: 35px;
    }

    .news-box-box-box p {
        margin-bottom: 50px;
    }

    .accordion__text-container {
        display        : flex;
        gap            : 200px;
        justify-content: space-between;
    }

    .panel__position {
        display        : inline-flex;
        justify-content: center;
    }
}

@media screen and (max-width: 727px) {
    .home-description p {
        font-size  : 30px;
        margin-left: 200px;
    }

    .menu-btn-link:first-child,
    .menu-btn-link:nth-child(3),
    .menu-btn-link:nth-child(4) {
        display: none;
    }

    .news-box-box-box p {
        font-size: 14px;
    }

    .news-box-box-box h2 {
        font-size: 20px;
    }


    .news-box {
        display  : flex;
        flex-wrap: wrap;
        height   : auto;
        max-width: 320px;
    }

    .news-boxes {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        width          : 100%;
    }

    .footer-lists {
        display        : flex;
        justify-content: flex-start;
        padding        : 20px 30px;
        gap            : 50px;
    }

    .mini-footer-list {
        display: flex;
        flex-wrap: wrap;
    }
    .mini-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 10px;
    }


}

@media screen and (max-width: 564px) {
    .home-description p {
        font-size  : 30px;
        margin-left: 20px;
        margin-top : 10px;
    }

    .menu-links {
        display: none;
    }

    .menu-btn {
        margin-left : 110px;
        margin-right: 10px;
    }

    .popular-products-boxes .popular-product-box:last-child {
        display: none;
    }

    .accordion__text-container {
        display        : flex;
        gap            : 100px;
        justify-content: space-between;
    }


}

@media screen and (max-width: 364px) {
    .home-description p {
        font-size  : 25px;
        margin-left: 20px;
        margin-top : 10px;
    }

    .menu-links {
        display: none;
    }

    .menu-btn {
        margin-left: 50px;
    }

    .popular-products-boxes .popular-product-box:last-child {
        display: none;
    }

    .news-box-box-box p {
        font-size: 14px;
    }

    .news-box-box-box h2 {
        font-size: 16px;
    }

    .accordion__text-container {
        display        : flex;
        gap            : 40px;
        justify-content: space-between;
    }


}